<form [formGroup]="formPassword" (ngSubmit)="updatePassword()" class="example-form card-style">
  <p class="card-description">Reset Email</p>
  <hr>
  <mat-card class="example-card card-login">
    <mat-form-field class="example-full-width">
      <input [ngClass]="{'error': isValid('newPassword')}" type="password" matInput placeholder="New Password"
        formControlName="newPassword" maxlength="15">
      <mat-error *ngIf="formPassword.hasError('required', 'newPassword')">Required</mat-error>
      <mat-error *ngIf="formPassword.hasError('minlength', 'newPassword')">Minimum length 3 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [ngClass]="{'error': isValid('confirmPassword')}" type="password" matInput placeholder="Confirm Password"
        formControlName="confirmPassword" appConfirmValidator="newPassword" maxlength="15">
      <mat-error *ngIf="formPassword.hasError('required', 'confirmPassword')">Required</mat-error>
      <mat-error *ngIf="formPassword.hasError('notEqual', 'confirmPassword')">Passwords do not match</mat-error>
    </mat-form-field>

    <br>

    <button mat-raised-button >Update Password</button>

  </mat-card>
</form>