<mat-toolbar color="primary">
  <button mat-button routerLink="/">MyCompany</button>
  <button mat-button routerLink="/cars">Cars</button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/register">SignUp</button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login">Login</button>
  <button *ngIf="auth.isAuthenticated" mat-button routerLink="/">Hell No!!! {{auth.name}}</button>
  <button *ngIf="auth.isAuthenticated" mat-button routerLink="/cars" (click) = "auth.logout()">Logout</button>
</mat-toolbar>