mat-toolbar {
    background-color: var( --main-bg-color);
}

button {
    color: var( --main-txt-color );
}

.mat-button-custom {
    color: var( --secondary-txt-color );
}

.mat-button-custom.active {
    color: var( --main-txt-color );
}