/* .mat-card-warning{
    background-color: rgb(218, 99, 99);
    color: white;
} */

section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap:10px;
    margin: 0 20%;
    max-width: 95%;
}

mat-card {
    margin: auto;
    max-width: 200px;
  }

mat-form-field{
    text-align: center;
    margin-right: 1px;
  }

  @media only screen and (max-width: 600px) {
    section {
        margin: 0 auto;
    }
  }