/* .mat-card-warning{
    background-color: rgb(218, 99, 99);
    color: white;
} */
 .car-container {
 position: relative;
}

section.filter-box{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.display-list-grid {  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap:10px;
  max-width: 95%;
  margin: auto;
  grid-row-gap: 0em ;
  grid-column-gap: 3em ;
}

mat-form-field {
  margin-right: 12px;
}

.closebutton-container{
  height: 12px;
  margin-top:16px;
  margin-bottom: 32px;
}

.close{ 
  /* float: none; */
   padding-right: 15px;
   color: var( --main-txt-color );
}

.mat-aut-inner-container {
  max-height: fit-content;
}

app-car-detail{
  margin-bottom: 70px;
}

.mat-paginator{
  position: fixed;
  top:100%;
  left:0px;
  transform: translate(0, -50px);
  width: 100%;
}

  .example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var( --main-bg-color );
  }

  @media (min-width: 576px) { 
    .example-sidenav {
      width: 60%;
    }
  }
  @media (min-width: 768px) { 
      .example-sidenav {
        width: 50%;
      }
    }

    @media (min-width: 1200px) { 
      .example-sidenav {
        width: 35%;
      }
    }
    

   /* @media only screen and (min-width: 768px) { 
    .example-sidenav {
      width: 300px;
    } */
   


  