/* a{
    background-color: gainsboro;
    border-radius: 3px;
    padding: 5px;
}
.mat-card-header{
    display: block;
    color: white;
}
.mat-card-header:hover{
    cursor: pointer;
}

.mat-card {
    background-color: whitesmoke;
    margin-top: 5px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;    
}

.mat-card-warning{
    background-color: rgb(218, 99, 99);
    color: white;
}

mat-card p{
    margin-top:10px;
}

::placeholder {
    color: #3f51b5;
    opacity: 1;
}

mat-label {
    color: #3f51b5;
}

.pagination /deep/ .ngx-pagination {
    padding-inline-start: 0px;
  }

  .mat-card-image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  } */

  .example-card {
    max-width: 200px;
  }