<div class="card-style">
  <p class="card-description">LogIn</p>
  <hr>
  <mat-card>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="loginData.email" matInput placeholder="Email" type="email" maxlength="50">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="loginData.password" matInput placeholder="Password" type="password" maxlength="15" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button class="forgot-password" mat-button routerLink="/forgotpass" color="primary">Forgot your password?</button>
    <br>
    <button mat-raised-button (click)="login()">Register</button>
  </mat-card>

</div>