.forgot-password {
    color: red;
    text-decoration: underline;
    padding-left: 0%;
    padding-right: 0%;
    display: block;
}

.card-login{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}