<div class="login-container">
  <mat-card class="example-card card-login">

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="loginData.email" matInput placeholder="Email" type="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="loginData.password" matInput placeholder="Password" type="password"> 
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" (click)="login()">Register</button>

  </mat-card>
</div>