.jumbotron { 
  background-image: url("../../../assets/images/heroImage.jpg");
  color: var( --main-txt-color );;
  border-radius: 0px;
  
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  position: relative;
  margin-bottom: 0px;
  padding: 0px;
  top: -64;
}

.hero-text {
  text-align: center;
  position: absolute;
  
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var( --main-txt-color );
}

p{
  color: var( --main-bg-color-dark );
}

 .mat-stroked-button{
  border-color: var( --main-bg-color );
  color: var( --main-bg-color );
  border-radius: 20px;
}

.mat-stroked-button:hover{
  background-color: var( --main-bg-color );
  color: var( --secondary-bg-color );
}

h1::first-line {
  color: var( --main-bg-color );
}

@media only screen and (max-width: 600px) {
  .jumbotron { 
    background-position: left
  }
  .mat-stroked-button{
    background-color: var( --main-bg-color );
    color: var( --secondary-bg-color );
  }

  h1, p{
    color:  var( --main-bg-color );
  }
}