mat-card.example-card {
    margin: auto;
    transition: 0.3s;
    box-shadow: 0 1px 2px 0 var( --main-bg-color-light );
  }

  mat-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 var( --main-bg-color-dark );
  }

  mat-card-header{
    display: block;
  }

  .mat-card-image{
    margin-bottom: 0px;
  }

  mat-card-footer{
    background-color: var( --main-bg-color );
    color: var( --main-txt-color );
    padding: 10px;
  }

