<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">

  <mat-card class="example-card card-login">
    <mat-card-subtitle>Forgot your Password</mat-card-subtitle>
    <mat-form-field class="example-full-width">
      <input [ngClass]="{'error': isValid('email')}" type="email" matInput placeholder="Email" formControlName="email" maxlength="25">
      <mat-error *ngIf="form.hasError('required', 'email') || form.hasError('invalidEmail', 'email')">Invalid Email</mat-error>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary">Send Email</button>
  </mat-card>
  
</form>


