p{
    text-align: center;
    padding: 10px;
}

.warning{
    background-color: rgb(218, 99, 99);
    color: whitesmoke;
}

.success{
    background-color: #2bbd7e;
    color: whitesmoke;
}


.warning-button{
    background-color: #9a0007;
    color: whitesmoke;
}

.success-button{
    background-color: #80e27e;
    color: var( --secondary-txt-color );
}