/* .mat-card-header{
    display: block;
}

.mat-card-warning{
    background-color: rgb(218, 99, 99);
    color: white;
} */
/* .mat-card{
    box-shadow:none;
} */

/* .card{
    position: fixed;    
}


.mat-drawer-transition .mat-drawer-backdrop {
    transition-duration: .1s;
}


@media only screen and (min-width: 520px) {
    .card{
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }    
  } */

  .card-body{
    background-color: var( --main-bg-color );
    color: var( --main-txt-color );
  }

.card-img{
    border-radius: 0px;
}
  .card-sidenav {
      border: none;
      border-radius: 0px;
  }

  .mat-stroked-button{
    border-color: var( --main-bg-color );
    color: var( --main-bg-color );
    border-radius: 20px;
  }