/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "@material/image-list/mdc-image-list"; */

:root {
  --main-bg-color: #880e4f;
  --main-bg-color-light: #bc477b;
  --main-bg-color-dark: #560027;
  --secondary-bg-color:white ;
  --main-txt-color: white; 
  --secondary-txt-color: black; 
}

body, html {
  height: 100%;
}

.body{
  height: -webkit-calc(100% - 65px);
}

.example-container {
  display: flex;
  flex-direction: column;
}
  
.example-full-width {
    width: 100%;
  }

button.mat-raised-button{
  color: var(--main-txt-color);
  background: var(--main-bg-color-light);
}

.active {
  color: var(--main-txt-color);
  background: var(--main-bg-color-light);
}

.mat-button-custom.active:hover {
  color: var(--secondary-txt-color);
  background: var(--main-bg-color-dark);
}

hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: var( --main-txt-color );
}

mat-toolbar .mat-icon{
  color: var(--main-txt-color);
}
.mat-icon {
  color: var(--main-bg-color);
  cursor:pointer;
}

.card-style,.two-form{
  margin-top: 5%;;
  padding: 20px;
  position:relative;
  left:50%;
  transform: translate(-50%, 0);
  max-width: 340px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  background-color: var( --main-bg-color );
}

.card-description {
  color:var( --main-txt-color );
}

button:focus {outline:0;}

@media only screen and (max-width: 600px) {
  .card-style{ 
      position: fixed;
      width: 100%;
  }   
  .body{
    height: -webkit-calc(100% - 54px);
  }
}