<div class="card-style">
    <p>Donations</p>
    <hr>
  <form [formGroup]="paypalForm" (ngSubmit)="pay()" class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput type="number" formControlName="amount" value="0" min='1' max='99'>
      <mat-error *ngIf="paypalForm.hasError('required', 'amount')">Required</mat-error>
      <mat-error *ngIf="paypalForm.hasError('max', 'amount')">Maximum donation 99 dollars</mat-error>
      <mat-error *ngIf="paypalForm.hasError('min', 'amount')">Minimum donation 1 dollar</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary"  [disabled]= "!paypalForm.valid">Submit Donation</button>

  </form>
</div>